<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.realfblaapp">

    <uses-permission android:name="android.permission.NFC"/>
    <uses-feature android:name="android.hardware.nfc" android:required="true" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/avasar"
        android:label="Avasar"
        android:roundIcon="@mipmap/avasar"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
      
        <activity android:name=".Main">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
      
        <activity android:name=".About" />
        <activity android:name=".Contact" />
        <activity android:name=".Calendar" />
        <activity android:name=".Attendance" />
        <activity android:name=".Officers" />
        <activity android:name=".Nfc">


            <intent-filter>

                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <action android:name="android.intent.action.ACTION_GET_CONTENT" />
                <data android:mimeType="text/plain" />
            </intent-filter>

        </activity>
    </application>

</manifest>